<div class="d-flex row align-content-center product">
  <div class="col col-img-product">
    <div class="image-container">
      <img
        [class]="
          'image-product ' + (product.quantite > 0 ? '' : 'planet-locked')
        "
        [src]="wsService.server + '/' + product.logo"
        (click)="lancerProduction()"
      />
    </div>
    <h3 class="product-quantite">x{{ product.quantite }}</h3>
  </div>
  <div class="col">
    <div class="product-name">
      <h6>{{ product.name }}</h6>
    </div>

    <button
      class="buy-button"
      (click)="acheterProduit()"
      [disabled]="_money == 0 || _money < prixAPayer || busy"
      [ariaBusy]=""
    >
      <span>
        Acheter {{ _quantiteAchat }} pour {{ prixAPayer | numberFormat }}
        <app-diamond></app-diamond>
      </span>
    </button>
  </div>
  <div class="col col-progress-bar">
    <img src="../../assets/fillbar.png" />
    <mat-progress-bar
      class="product-progress-bar"
      mode="determinate"
      color="#ffffff"
      [value]="progressBarValue"
    ></mat-progress-bar>
  </div>
</div>
