<div class="modal-content">
  <h4>Etes-vous sûr de vouloir réinitialiser le monde ?</h4>
  <div class="d-flex justify-content-center">
    <img src="../../../assets/wassim.png" class="mx-auto w-25 rounded-circle" />
  </div>
  <br />
  <div class="d-flex row justify-content-around">
    <button class="buy-button" (click)="close()">
      <span style="color: #fd004d"> Non </span>
    </button>
    <button class="buy-button" (click)="resetWorld()">
      <span style="color: #82e157"> Oui </span>
    </button>
  </div>
</div>
