img {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));
  transition: filter 0.3s ease;
  width: 25px;
  height: 25px;
}

img:hover {
  filter: drop-shadow(0 0 20px rgba(255, 255, 255, 0.9));
}
