.manager-background {
  position: absolute;
  position: center;
  width: 110%;
  height: 100%;
  top: -10%;
  overflow: visible;
}

.manager-image {
  width: 80%;
  height: auto;
}

.manager-card {
  background-image: url("../../../assets/card_manager.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 200px;
  width: 400px;
}
