<div class="modal-content">
  <h1 class="w-100 text-center">Aliens</h1>
  <div class="w-100 text-center">
    Nombre d'aliens actifs :
    <span class="activeangels">{{ data.world.activeangels }}</span>
  </div>
  <br />
  <button class="buy-button alien-button" (click)="resetWorld()">
    <span>
      Réinitialiser le monde pour {{ angelToClaim }} aliens <br /><img
        src="../../../assets/alien.png"
    /></span>
  </button>
  <br />
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
  </mat-dialog-actions>
</div>
