<mat-dialog-content class="mat-typography">
  <h1 class="title">Angel Upgrade</h1>
  <div *ngFor="let upgrade of data.world.angelupgrades">
    <mat-card *ngIf="!upgrade.unlocked" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{ upgrade.name }} </mat-card-title>
        <mat-card-subtitle *ngIf="upgrade.idcible === 0">
          Amélioration de tous les produits en {{ upgrade.typeratio }} (x{{
            upgrade.ratio
          }})
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="upgrade.typeratio === 'ange'">
          Amélioration de l'efficatité des anges (x{{ upgrade.ratio }})
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <span> {{ upgrade.seuil }} anges</span>
        <br />
        <button
          mat-flat-button
          (click)="buyAngelUpgrade(upgrade)"
          color="primary"
          [disabled]="data.world.activeangels < upgrade.seuil"
        >
          Acheter upgrade
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
