<div class="modal-content">
  <div class="d-flex row justify-content-space-between align-items-center">
    <div class="col"><h1>Alien Upgrade</h1></div>
    <div class="col text-end">
      <span class="activeangels">{{ data.world.activeangels }}</span> aliens
    </div>
  </div>
  <div *ngFor="let upgrade of data.world.angelupgrades; last as isLast">
    <div *ngIf="!upgrade.unlocked" class="d-flex row align-items-center my-3">
      <div class="col-1 offset-1">
        <img [src]="wsService.server + upgrade.logo" class="img-alien" />
      </div>
      <div class="col-5">
        <div>{{ upgrade.name }}</div>
        <mat-card-subtitle *ngIf="upgrade.idcible === 0">
          Amélioration de tous les produits en
          {{ upgrade.typeratio }}
          <span class="ratio"> x{{ upgrade.ratio }}</span>
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="upgrade.typeratio === 'ange'">
          Amélioration de l'efficacité des anges
          <span class="ratio">x{{ upgrade.ratio }}</span>
        </mat-card-subtitle>
      </div>
      <div class="col-2">
        <span> {{ upgrade.seuil | numberFormat }} aliens</span>
      </div>
      <div class="col-2">
        <button
          class="buy-button"
          (click)="buyAngelUpgrade(upgrade)"
          [disabled]="data.world.activeangels < upgrade.seuil"
        >
          <span> Acheter upgrade </span>
        </button>
      </div>
      <hr *ngIf="!isLast" class="w-50 mx-auto mt-3" />
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
  </mat-dialog-actions>
</div>
