<div class="modal-content">
  <h1 class="title">Upgrades</h1>
  <div *ngFor="let upgrade of data.world.upgrades">
    <div *ngIf="!upgrade.unlocked" class="d-flex row align-items-center my-3">
      <div class="col-8 d-flex row upgrade-card align-items-center">
        <div class="col-3 ps-4">
          <img src="../../../assets/star.gif" class="image-upgrade" />
        </div>
        <div class="col-6 lh-sm p-0">
          <mat-card-title> {{ upgrade.name }} </mat-card-title>
          <br />
          <mat-card-subtitle>
            {{ upgrade.cibleName }} x{{ upgrade.seuil }}
          </mat-card-subtitle>
        </div>
        <div class="col-2 lh-sm p-0">
          <span> {{ upgrade.typeratio }} </span>
          <span class="ratio">x{{ upgrade.ratio }}</span>
        </div>
      </div>
      <div class="col-2">
        <button
          (click)="buyCashUpgrade(upgrade)"
          class="buy-button"
          [disabled]="data.world.money < upgrade.seuil || data.world.money == 0"
        >
          <span class="lh-sm"> Acheter upgrade </span>
        </button>
      </div>
    </div>
  </div>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Annuler</button>
  </mat-dialog-actions>
</div>
